.footer {
    padding: 40px 0 30px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    align-items: center;
    row-gap: 50px;
}

.footer__logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.footer__copyright {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: #fff;
    font-weight: 400;
    justify-self: start;
}
.footer__developers {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    color: #fff;
    font-weight: 400;
}
.developer {
    display: flex;
    flex-direction: column;
}

.developer__item {
    margin-bottom: 7px;
}

.developer__link:hover {
    text-decoration: underline;
}
